# Конфігурація фронтенду
VITE_API_BASE_URL=http://localhost:8000
VITE_COURSE_SERVICE_URL=http://localhost:8002
VITE_AUTH_SERVICE_URL=http://localhost:8001

# Конфігурація бекенду
DATABASE_URL=postgresql://user:password@localhost:5432/courseris
JWT_SECRET_KEY=**Запитайте в мене**
REDIS_URL=redis://localhost:6379